.neon-button {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: transparent;
            border: 2px solid #39FF14;
            border-radius: 10px;
            padding: 10px 20px;
            font-size: 18px;
            font-weight: bold;
            color: #39FF14;
            cursor: pointer;
            transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
            text-shadow: 0 0 5px #39FF14;
        }
        .neon-button:hover {
            border: 2px solid #8BC34A;
            box-shadow: 0 0 10px #39FF14, 0 0 20px #39FF14, 0 0 30px #39FF14;
            animation: pulse 2s infinite;
        }
        @keyframes pulse {
            0% {
                transform: translate(-50%, -50%) scale(1);
            }
            50% {
                transform: translate(-50%, -50%) scale(1.1);
            }
            100% {
                transform: translate(-50%, -50%) scale(1);
            }
        }
        .neon-button:active {
            transform: translate(-50%, -50%) scale(0.9);
        }
        .animation-container {
            position: relative;
            height: 100vh;
            width: 100vw;
            background-color: #1A1D23;
            display: flex;
            justify-content: center;
            align-items: center;
        }