.black-button {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #000;
            color: #fff;
            border: none;
            padding: 15px 30px;
            font-size: 16px;
            cursor: pointer;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
            transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        }
        
        .black-button:hover {
            background-color: #2f2f2f;
        }