.btn {
            background-color: #ff0000;
            color: #ffffff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        }
        .btn:hover {
            background-color: #00ff00;
        }